export GITEA_URL='https://gitea_url'
export GITEA_USERNAME='gitea_username'
export GITEA_PASSWORD='gitea_pass'
export GITEA_ORG='gitea_org'
export GITEA_TOKEN='gitea_token'

export GITHUB_USERNAME='github_username'
export GITHUB_TOKEN='github_token'
export GITHUB_ORG='github_org'